<div class="admin-container">
    <h1 class="text-white text-3xl">Admin Panel logged</h1>
    <hr>
    <h2 class="text-white">Next game</h2>
    <form [formGroup]="gameForm" (ngSubmit)="onSubmitGame()">
        <p class="text-white">18/08/2024 19:00:00</p>
        <div class="mb-3">
            <label for="date" class="block mb-1 text-primary">Fecha:</label>
            <input type="text" placeholder="hey" formControlName="date" class="block rounded-md border-0 py-1.5 focus:ring-2 sm:text-sm sm:leading-6 [text-indent:5px]" id="date">
        </div>
        <app-alert-soccer [text]="popOverInfo.text" [type]="popOverInfo.type" [show]="popOverInfo.show"></app-alert-soccer>
        <button type="submit" class="form-button py-2 px-4 rounded mb-4 text-primary oxygen-bold main-bg-color hover:bg-green-600" [disabled]="!gameForm.valid">Enviar</button>
    </form> 
</div>
